* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Background image using URL */
  background-image: url("https://cdn.create.vista.com/api/media/small/20087015/stock-photo-sunlit-young-corn-plants");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.container {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.input-box {
  position: relative;
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.input-box span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

button {
  width: 100%;
  padding: 10px;
  background: #27ae60;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #219150;
}

.link {
  text-align: center;
  margin-top: 15px;
}

.link a {
  text-decoration: none;
  color: #27ae60;
  font-weight: bold;
}

#msg {
  text-align: center;
  margin-top: 10px;
  color: red;
}
