body{
font-family: Arial;
margin:0;
background:linear-gradient(to right,#c7e3c2,#9ec49c);
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
}

.buttons button{
padding:10px 18px;
margin-left:10px;
background:#2e7d32;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

.card{

width:400px;
background:white;
margin:80px auto;
padding:30px;
border-radius:15px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,0.2);

}

.card img{
width:200px;
height:200px;
object-fit:cover;
}

.fertBtn{

background:#4caf50;
border:none;
padding:12px 20px;
color:white;
border-radius:8px;
cursor:pointer;

}